
@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-LightItalic.eot');
  src: local('AktivGroteskCorp-LightItalic'),
  url('AktivGroteskCorp-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-LightItalic.woff') format('woff'),
  url('AktivGroteskCorp-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Italic.eot');
  src: local('AktivGroteskCorp-Italic'),
  url('AktivGroteskCorp-Italic.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-Italic.woff') format('woff'),
  url('AktivGroteskCorp-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Medium.eot');
  src: local('AktivGroteskCorp-Medium'),
  url('AktivGroteskCorp-Medium.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-Medium.woff') format('woff'),
  url('AktivGroteskCorp-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Regular.eot');
  src: local('AktivGroteskCorp-Regular'),
  url('AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-Regular.woff') format('woff'),
  url('AktivGroteskCorp-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-MediumItalic.eot');
  src: local('AktivGroteskCorp-MediumItalic'),
  url('AktivGroteskCorp-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-MediumItalic.woff') format('woff'),
  url('AktivGroteskCorp-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Bold.eot');
  src: local('AktivGroteskCorp-Bold'),
  url('AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-Bold.woff') format('woff'),
  url('AktivGroteskCorp-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-BoldItalic.eot');
  src: local('AktivGroteskCorp-BoldItalic'),
  url('AktivGroteskCorp-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-BoldItalic.woff') format('woff'),
  url('AktivGroteskCorp-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  src: url('AktivGroteskCorp-Light.eot');
  src: local('AktivGroteskCorp-Light'),
  url('AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'),
  url('AktivGroteskCorp-Light.woff') format('woff'),
  url('AktivGroteskCorp-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --flowink-blue-color: #166F9A;
  --flowink-dark-blue-color: #003763;
  --flowink-btn-primary: #4D90C4;
  --flowink-red-color: #B73737;
  --flowink-green-color: #006A44;
  --flowink-yellow-color: #FDB913;
  --flowink-light-blue1-color: #E6EDF4;
  --flowink-light-blue2-color: #EBF8FF;
  --flowink-light-green-color: #E6F2F4;
  --flowink-gray-color: #E2E2E2;
  --flowink-background-color: #F5F5F5;
  --flowink-white-color: #FFFFFF;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Aktiv Grotesk Corp", sans-serif;
  font-style: normal;
  color: var(--flowink-dark-blue-color);
  background-color: var(--flowink-background-color);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 500;
}
h1 {
  font-size: 72px;
  line-height: 84px;
}

h2 {
  font-size: 52px;
  line-height: 61px;
}

h3 {
  font-size: 44px;
  line-height: 51px;
}

h4 {
  font-size: 36px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 28px;
}

.mobile-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.mobile-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.mobile-h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.text1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.text2 {
  font-size: 18px;
  line-height: 150%;
}

.text3 {
  font-size: 15px;
  line-height: 18px;
}
.text4 {
  font-size: 14px;
  line-height: 150%;
}
.text4-bold {
  font-weight: 700;
}
.text-xl {
  font-size: 45px;
  line-height: 150%;
}

.text-lg {
  font-size: 36px;
  line-height: 150%;
}
.caption1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}
.caption2 {
  font-size: 16px;
  line-height: 19px;
}
.caption3 {
  font-size: 12px;
  line-height: 14px;
}
.title2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.btn-flowink {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 18px 40px;
  color: var(--flowink-white-color);
  background-color: var(--flowink-btn-primary);
  border-radius: 80px;
}

.btn-flowink:hover, .btn-flowink:active, .btn-flowink:focus {
  color: var(--flowink-btn-primary);
  background-color: var(--flowink-white-color);
  border: 1px solid var(--flowink-btn-primary);
}

.money-back:before {
  display: block;
  content: " ";
  background: url("img/icon-check.svg") no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px;
  margin-right: 9px;
}
.dropdown_btn{
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hide{
  display: none;
}

@media (min-width: 1226px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: calc(1200px + 1.5rem);
  }
}
@media (max-width: 1225px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1024px;
  }
  .row {
    --bs-gutter-x: 40px;
  }
  h1 {
    font-size: 46px;
    line-height: 54px;
  }
  h2 {
    font-size: 44px;
    line-height: 52px;
  }
  h3 {
    font-size: 36px;
    line-height: 42px;
  }
  .text1 {
    font-size: 15px;
    line-height: 150%;
  }
  .btn-flowink {
    font-size: 16px;
    line-height: 21px;
    padding: 9px 40px;
  }
  .portions .btn-flowink {
    margin-top: 40px;
    width: 379px;
    padding: 18px 40px;
    font-size: 24px;
    line-height: 28px;
  }
  .portions .text1{
    font-size: 24px;
    line-height: 150%;
  }
  .caption2 {
    font-size: 12px;
    line-height: 14px;
  }
  p.text4{
    font-size: 11px;
    line-height: 150%;
    min-height: 147px;
    width: 194px;
  }
  .money-back:before {
    width: 17px;
    height: 17px;
    margin-right: 9px;
  }
  .title2{
    font-size: 15px;
    line-height: 17px;
  }

}
@media (max-width: 1023px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 640px;
  }
  .justify-content-center {
    justify-content: center!important;
    align-items: center;
   }
  .powers .row{
    display: grid;
  }
  h1 {
    font-size: 28px;
    line-height: 33px;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
  }
  h3 {
    font-size: 36px;
    line-height: 42px;
  }
  .text3 {
    font-size: 13px;
    line-height: 150%;
  }
  .text1 {
    font-size: 18px;
    line-height: 150%;
    width: 299px;
    height: 189px;
  }
  .btn-flowink {
    font-size: 18px;
    line-height: 21px;
    padding: 15px 36px;
  }
  .caption2 {
    font-size: 16px;
    line-height: 19px;
  }
  p.text4{
    display: none;
    font-size: 15px;
    line-height: 18px;
    min-height: 147px;
    width: 194.34px;
  }
  .money-back:before {
    width: 27px;
    height: 27px;
    margin-right: 9px;
  }
  .title2{
    font-size: 7px;
    line-height: 9px;
  }
  
}
@media (max-width: 639px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 320px;
  }
  .justify-content-center {
    justify-content: center!important;
    align-items: center;
   }
  .powers .row{
    display: grid;
  }
  h1 {
    font-size: 28px;
    line-height: 33px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 36px;
    line-height: 42px;
  }
  .text3 {
    font-size: 13px;
    line-height: 150%;
  }
  .text1 {
    font-size: 18px;
    line-height: 150%;
    width: 299px;
    height: 189px;
  }
  .btn-flowink {
    font-size: 18px;
    line-height: 21px;
    padding: 15px 36px;
  }
  .caption2 {
    font-size: 16px;
    line-height: 19px;
    width: 278px;
    height: 36px;
    margin-top: 14px;
  }
  .text4{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }
  .money-back:before {
    width: 27px;
    height: 27px;
    margin-right: 9px;
  }
  .title2{
    font-size: 6px;
    line-height: 7px;
  }
  
}

/* Reviews */
.flowink-reviews {
}

/* Icons */
.icon-star {
  background: url("img/icon-star.svg") no-repeat;
  background-size: contain;
  width: 38px;
  height: 34px;
}

.flowink-reviews .icon-star {
  margin-left: 10px;
}
.flowink-reviews .icon-star:first-child {
  margin-left: 0;
}
.flowink-reviews .reviews{
  margin-left: 15px;
}
@media (max-width: 1225px) {
  .reviews{
    font-size: 16px;
    line-height: 19px;
  }
  .icon-star {
    width: 24px;
    height: 22px;
  }
  .portions .icon-star{
    width: 38px ;
    height: 34px ;
  }
  .flowink-reviews .icon-star {
    margin-left: 6px;
  }
  .flowink-reviews .reviews {
    margin-left: 10px;
  }
}
@media (max-width: 1023px) {
  .reviews{
    font-size: 12px;
    line-height: 14px;
  }
  .icon-star {
    width: 31px;
    height: 28px;
  }
  .flowink-reviews .icon-star {
    margin-left: 6px;
  }
  .flowink-reviews .reviews {
    margin-left: 10px;
  }
  
}
@media (max-width: 639px) {
  .reviews{
    font-size: 12px;
    line-height: 14px;
  }
  .flowink-reviews .icon-star:first-child {
    margin-left: 7px;
}
  .flowink-reviews .icon-star {
    margin-left: 8px;
  }
  .flowink-reviews .reviews {
    margin-left: 10px;
  }
  
}
/* Header */
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 28px 0;
}

#header .container {
  position: relative;
}

#header.header-scrolled,
#header.header-inner-pages {
  background-color: var(--flowink-light-green-color);
}

#header .logo img {
  max-height: 42px;
}

#header .header-cart{
  position: absolute;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  top: 9px;
  right: 42px;
  text-transform: uppercase;
}


/* Hero */
#hero {
  width: 100%;
  min-height: 812px;
  background-color: var(--flowink-light-green-color);
  padding-top: 200px;
  background-size: 611px 558px;
  background-repeat: no-repeat;
  background-position: top 200px right calc(50vw - 720px);
  background-image: url("img/hero-bg.png");
}

#hero .section-title {
  margin-top: 15px;
}

#hero .section-title h1 {
  margin-bottom: 16px;
}

#hero .section-content {
  max-width: 580px;
}
#hero .section-content p {
  margin-bottom: 28px;
}
#hero .section-content .btn-flowink {
  width: 379px;
}

#hero .section-content .money-back {
  margin-top: 13px;
}
@media (max-width: 1225px) {
  #hero {
    min-height: 553px;
    padding-top: 131px;
    background-size: 391px 357px;
    background-position: top 131px right calc(50vw - 512px + 51px);
  }
  
  #hero .section-title {
    margin-top: 10px;
  }
  #hero .section-content p {
    margin-bottom: 26px;
    max-width: 350px;
  }
  /* #hero .section-content {
  } */
  #hero .section-content .btn-flowink {
    width: 243px;
    height: 41px;
  }
  #hero .section-content .money-back {
    margin-top: 8px;
  }
  #powers .power-card h5 {
    margin-top: 12px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  #hero {
    margin-top: 85px;
    min-height: 571px;
    padding-top: 110px;
    background-size: 301px 278px;
    background-position: top 156px right calc(50vw - 320px + 14px);
  }
  #hero .container{
  --bs-gutter-x: 18px;
}
#hero .section-title {
  margin-top: 20px;
}
#hero .section-title h1{
  margin-bottom: 15px;
}
#hero .section-content p {
  margin-bottom: 30px;
  max-width: 300px;
  }
  /* #hero .section-content {
  } */
  #hero .section-content .btn-flowink {
    width: 300px;
    height: 51px;
  }
  #hero .section-content .money-back {
    margin-top: 22px;
  }
  #powers .power-card h5 {
    margin-top: 12px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
@media (max-width: 639px) {
  #hero {
    padding-top: 290px;
    min-height: 788px;
    background-size: 293px 271px;
    background-position: top;
  }
  #hero .container{
  --bs-gutter-x: 10px;
}
#hero .section-title {
  margin-top: 20px;
}
#hero .section-title h1{
  margin-bottom: 19px;
  margin-left: 7px;
}
#hero .section-content p {
  margin-left: 7px;
  margin-bottom: 19px;
  max-width: 300px;
  }
  /* #hero .section-content {
  } */
  #hero .section-content .btn-flowink {
    width: 300px;
    height: 51px;
    margin-left: 7px;
  }
  #hero .section-content .money-back {
    margin-top: 22px;
    margin-left: 7px;
  }
  #powers .power-card h5 {
    margin-top: 12px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
/* Wave Vector */
#wave-vector img{
  width: 100%;
  max-height: 409px;
}
@media (max-width: 1225px) {
  #wave-vector img{
    width: 100%;
    max-height: 218px;
  }
}
@media (max-width: 1023px) {
  #wave-vector img{
    width: 100%;
    max-height: 136px;
  }
}
@media (max-width: 639px) {
  #wave-vector img{
    width: 100%;
    max-height: 68px;
  }
}

/* Powers */
#powers {
  margin-top: 150px;
  margin-bottom: 150px;
}
#powers .section-title {
  margin-bottom: 14px;
}
#powers .section-content {
  --bs-gutter-x: 82px;
}
#powers .power-card {
  margin-bottom: 82px;
}
#powers .power-card img {
  max-width: 100%;
}
#powers .power-card h5 {
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}
#powers .power-card .power-item {
  margin-top: 13px;
  width: 202px;
}
#powers .power-card .power-item span {
  padding-left: 32px;
  line-height: 25px;
  padding-left: 26px;
}
@media (max-width: 1225px) {
  #powers {
    margin-top: 150px;
    margin-bottom: 38px;
  }
  #powers .power-card {
    margin-bottom: 26px;
  }
  #powers .section-title {
    margin-bottom: 77px;
  }
}
@media (max-width: 1023px) {
  #powers {
    margin-top: 50px;
    /* margin-bottom: 80px; */
  }
  #powers .power-card {
    margin-bottom: 50px;
    display: flex !important;
  }
  #powers .section-title {
    margin-bottom: 20px;
  }
  #powers .section-content {
    display: grid;
  }
  #powers .drop_icon-absolute {
    width: 24px;
    height: 14.82px;
  }
  
  #powers .dropdown_btn {
    display: block;
    margin-top: 32px;
  }
  #powers .power-card img {
    max-width: 206px;
    max-height: 151px;
    margin-right: 47px;
  }
  #powers .power-thumb {
    width: 27px;
    height: 27px;
  }
  .text-res-640{
    width: 70%;
  }
  #powers .power-card .power-item {
    margin-top: 11px;
    width: 300px;
  }
}
@media (max-width: 639px) {
  #powers {
    margin-top: 60px;
    margin-bottom: 14px;
  }
  #powers .power-card .power-item span {
    padding-left: 23px;
    line-height: 150%;
    width: 170px;
  }
  #powers .container{
    --bs-gutter-x : 0px;
  }
  #powers .power-card h5 {
    font-size: 18px;
    line-height: 21px;
}
  #powers .power-card {
    margin-bottom: 25px;
    display: flex !important;
  }
  #powers .section-title {
    margin-bottom: 20px;
  }
  #powers .section-content {
    display: grid;
  }
  #powers .drop_icon-absolute {
    width: 14px;
    height: 14.82px;
  }
  #powers .dropdown_btn {
    display: block;
    margin-top: 35px;
    margin-left: -30px;
  }
  #powers .power-card img {
    max-width: 116px;
    max-height: 85px;
    margin-right: 15px;
  }
  #powers .power-thumb {
    margin-right: 0px !important;
    width: 19px;
    height: 19px;
  }
  .text-res-640{
    width: 70%;
  }
  #powers .power-card .power-item {
    margin-top: 6px;
    width: 300px;
  }
}

/* Prices */
#prices {
  margin-top: 145px;
  margin-bottom: 150px;
}
#prices .section-title{
  margin-bottom: 78px;
}
#prices .section-content {
  --bs-gutter-x: 82px;
}
#prices .price-card .price-header {
  position: relative;
  height: 200px;
  margin-bottom: 34px;
  border-radius: 260px 260px 0 0;
}
#prices .price-card .price-header.has-border {
  border: 1px solid var(--flowink-dark-blue-color);
}
#prices .price-card .price-header.has-bg {
  background-color: var(--flowink-light-blue2-color);
}
#prices .price-card .price-header span {
  position: absolute;
  bottom: 13px;
}
#prices .price-card .price-header img {
  position: absolute;
  bottom: 44px;
  height: 180px;
}
#prices .price-card .price-body {}
#prices .price-card .price-body.has-bg {
  background-color: var(--flowink-light-blue2-color);
}
#prices .price-card .price-body.has-border {
  border-radius: 20px;
  position: relative;
}
#prices .price-card .price-body.has-border:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: 22px;
  background: linear-gradient(180deg, #21A79E 13.02%, #4D89BB 79.69%);
}
#prices .price-card .price-item {
  height: 70px;
  font-weight: 500;
}
#prices .price-card .price-item.has-border {
  border-top: 2px solid var(--flowink-gray-color);
}
#prices .price-card .price-item.has-border:last-child {
  border-bottom: 2px solid var(--flowink-gray-color);
}
#prices .price-card .icon-checked, #prices .price-card .icon-cancel {
  width: 24px;
  height: 24px;
}
#prices .price-card .icon-checked {
  background: url("img/healthicons_yes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#prices .price-card .icon-cancel {
  background: url("img/material-symbols_cancel-outline-rounded.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1225px) {
  #prices {
    margin-top: 102px;
    margin-bottom: 150px;
  }
  #prices .section-title {
    margin-bottom: 117px;
  }
  #prices .price-card .price-header img {
    position: absolute;
    bottom: 44px;
    height: 146px;
  }
  #prices .price-card .price-header {
    height: 164px;
    width: 196px;
    margin-bottom: 27px;
  }
  #prices .price-card .price-body {
    width: 197px;
    height: 475px;
  } 
  .price_card_margin_right {
    margin-right: -10px;
  }
  .price_card_title {
    max-width: 250px !important;
  }
  #prices .price-card .price-item {
    height: 59px;
  }
}
@media (max-width: 1023px) {
  #prices {
    margin-top: 44px;
    margin-bottom: 60px;
  }
  #prices .section-title {
    margin-bottom: 46px;
  }
  #prices .row {
    --bs-gutter-x : 18px;
  }
  #prices .container {
    --bs-gutter-x : 50px;
  }
  #prices .price-card .price-header img {
    position: absolute;
    bottom: 18px;
    height: 72px;
  }
  #prices .price-card .price-header {
    width: 96px;
    height: 80px;
    margin-bottom: 12px;
  }
  #prices .price-card .price-body {
    width: 96px;
    height: 375px;
  } 
  .price_card_margin_right {
    margin-right: 0px;
  }
  .price_card_title {
    width: 216px !important;
  }
  #prices .price-card .price-item {
    width: 96px;
    height: 47px;
  }
  #prices .price-card .price-header span {
    position: absolute;
    bottom: 6px;
  }
  #prices .price_card_title  {
    margin-right: 41px !important;
  }
  #prices .price_card_title .price-item {
    width: 216px;
  }
  #prices .col-lg-3 {
    width: 96px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
  } 
}
@media (max-width: 639px) {
  #prices {
    margin-top : 0px;
    margin-bottom: 50px;
  }
  #prices .section-title {
    margin-bottom: 23px;
  }
  #prices h2 {
    margin-left: 59px;
    width: 200px;
    height: 56px;
  }
  #prices .price-card .icon-checked, #prices .price-card .icon-cancel {
    width: 14px;
    height: 14px
  }
  #prices .text3{
    font-size: 12px;
    line-height: 14px;
    padding : 6px 0px;
  }
  #prices .row {
    --bs-gutter-x : 5px;
  }
  #prices .container {
    --bs-gutter-x : 18px;
  }
  #prices .price-card .price-header img {
    position: absolute;
    bottom: 12px;
    height: 32px;
  }
  #prices .price-card .price-header {
    width: 43px;
    height: 37px;
    margin-bottom: 12px;
  }
  #prices .price-card .price-body {
    width: 43px;
    height: 206px;
  } 
  .price_card_margin_right {
    margin-right: 0px;
  }
  .price_card_title {
    width: 140px !important;
  }
  #prices .price-card .price-item {
    width: 43px;
    height: 26px;
  }
  #prices .price-card .price-header span {
    position: absolute;
    bottom: -1px;
    text-align: center;
  }
  #prices .price_card_title  {
    margin-right: 19px !important;
  }
  #prices .price_card_title .price-item {
    width: 140px;
  }
  #prices .price-card .price-header.has-border {
    border: 0.178571px solid #003763;
  }
  #prices .price-card .price-item.has-border {
    border: 0.496268px solid #E2E2E2;
    border-top-width: 0.5px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  #prices .price-card .price-item.has-border:last-child {
    border-bottom-width: 0.5px;
  }
  #prices .col-lg-3 {
    width: 43px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
  } 
  #prices .price-card .price-body.has-border:before {
    border-radius: 10px;
    margin: -1px;
  }
  #prices .price-card .price-body.has-border {
    border-radius: 8px;
  }
  #prices .price-card .price-item {
    font-weight: 400;
}
}

/* Effects */
#effects {
  min-height: 410px;
  background-image: url("img/Rectangle 15.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#effects .effect-item {
  max-width: 148px;
  text-align: center;
}
#effects .effect-item img {
  max-width: 100%;
}
#effects .effect-item span {
  color: var(--flowink-white-color);
  margin-top: 15px;
}
@media (max-width: 1023px) {
  #effects{
    min-height: 387px;
  }
  #effects  .section-content .effect-item:nth-child(2) {
    margin: 0 40px 0 40px;
  }
}
@media (max-width: 639px) {
  #effects{
    min-height: 627px;
  }
  #effects .container{
    --bs-gutter-x : 56px
  }

  #effects  .section-content .effect-item:nth-child(7) {
    margin-left: 76px;
  }
  #effects  .section-content .effect-item:nth-child(2) {
    margin: 0px;
    margin-bottom: 25px;
  }
  #effects  .section-content .effect-item {
    margin-bottom: 25px;
  }
  #effects .effect-item img {
    max-width: 35%;
}
}

/* Portions */
#portions {
  background-color: var(--flowink-light-blue1-color);
  padding-top: 154px;
  padding-bottom: 203px;
}
#portions .section-content {
  --bs-gutter-x: 80px;
}
#portions h3 {
  margin-bottom: 20px;
}
#portions .flowink-reviews {
  margin-bottom: 30px;
}
#portions .portion-item {
  margin-top: 15px;
}
#portions .portion-item:before {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("img/portion-star.svg");
  margin-right: 10px;
}
#portions .btn-flowink {
  margin-top: 40px;
  width: 379px;
}
#portions .money-back {
  margin-top: 2px;
}
#portions .portions-thumb {
  width: 100%;
  background: #E0E0E0;
  border-radius: 30px;
}
@media (max-width: 1225px) {
  #portions .portions-thumb {
    width: 473px;
    height: 549px;
  }
  #portions h3 {
    margin-bottom: 25px;
  }
  
  #portions .money-back:before {
    margin-right: 5px;
    width: 27px;
    height: 27px;
  }
  #portions {
    padding-bottom: 155px;
  }
  #portions .section-content {
    --bs-gutter-x: 52px;
  }
}
@media (max-width: 1023px) {
  #portions .portions-thumb {
    width: 300px;
    height: 420px;
  }
  #portions .col-md-6 {
    width : 322px
  }
  #portions h3 {
    margin-bottom: 13px;
    font-size: 23px;
    line-height: 28px;
  }
  
  #portions .money-back:before {
    margin-right: 5px;
    width: 27px;
    height: 27px;
  }
  #portions .row {
    --bs-gutter-x : 21px
  }
  #portions .container {
    --bs-gutter-x : 16px
  }
  #portions {
    padding-top : 80px;
    padding-bottom: 155px;
  }
  .portions .icon-star{
    width: 31px ;
    height: 28px ;
  }
  #portions .portion-item {
    margin-top: 10px;
}
  #portions .portion-item:before {
    width: 19px ;
    height: 19px ;
  }
  #portions .btn-flowink {
    margin-top: 30px;
    width: 300px;
    height: 51px;
    padding: 15px 36px;
    font-size: 18px;
    line-height: 21px;
  }
  .portions .text1{
    font-size: 18px;
    line-height: 150%;
    height: 27px;
  }
}
@media (max-width: 639px) {
  #portions .portions-thumb {
    width: 300px;
    height: 348px;
  }
  #portions .flowink-reviews {
    margin-bottom: 17px;
  }
  #portions .col-md-6 {
    width : 322px
  }
  #portions h3 {
    margin-bottom: 13px;
    font-size: 23px;
    line-height: 28px;
  }
  .hide{
    display: block;
      margin-bottom: 50px;
  }
  .hide2{
    display: none;
  }
  #portions .money-back:before {
    margin-right: 5px;
    width: 27px;
    height: 27px;
  }
  #portions .row {
    --bs-gutter-x : 21px
  }
  #portions .container {
    --bs-gutter-x : 16px
  }
  #portions {
    padding-top : 80px;
    padding-bottom: 87px;
    display: grid;
  }
  .portions .icon-star{
    width: 31px ;
    height: 28px ;
  }
  #portions .portion-item {
    margin-top: 10px;
}
  #portions .portion-item:before {
    width: 19px ;
    height: 19px ;
  }
  #portions .btn-flowink {
    margin-top: 30px;
    width: 300px;
    height: 51px;
    padding: 15px 36px;
    font-size: 18px;
    line-height: 21px;
  }
  .portions .text1{
    font-size: 18px;
    line-height: 150%;
    height: 27px;
  }
}


/* Footer */
#footer {
  padding-top: 150px;
  padding-bottom: 150px;
}

#footer .social-links {
  
}
#footer .social-links span {
  margin-right: 16px;
}
#footer .social-links .social-link {
  margin-right: 16px;
}
#footer .footer-logo {
  width: 240px;
  height: 85px;
}
